<div class="panel panel-default">
    <div class="panel-heading">About Us</div>
    <div class="panel-body">
    This is Best Brains Administrators application, to manage our day to day operations, if you want to find information about our programs, please visit 
    our corporate website <a href="http://www.bestbrains.com">Best Brains</a>
    <br/><br/>
    Best Brains is an enrichment program designed to enhance your child's overall academic development. Board-certified teachers work with your child 
    on a weekly basis in a fun-filled interactive learning environment. Our low student to teacher ratio ensures your child receives the attention 
    he/she needs.
    <br/><br/>
    Our teaching methodology is non-repetitive and aims to challenge students by introducing new concepts and skills each week. Our comprehensive program 
    is one of a kind. We are the only learning center to provide instruction in Math, English, Abacus and General Knowledge all under one roof.
    <br/><br/>
    </div>
</div>