<div class="col-xs-12">
    <div class="panel panel-default">
        <div class="panel-heading">Reports</div>
        <div class="panel-body">
            <h5><a href="">Weekly Enrollments (All Locations)</a></h5><br/>
            
            <h5><a href="">Monthly Enrollments (All Locations)</a></h5><br/>
            
            <h5><a href="">Monthly Dropouts</a></h5><br/>
            
            <h5><a href="">Material Request (by location)</a></h5><br/>
            
            <h5><a href="">Monthly Fee Status</a></h5><br/>
            
            <h5><a href="">Student Contact List</a></h5><br/>
        </div>
    </div>
</div>